{% extends 'detailbase.html' %}
{% load static %}

{% block content %}
<div class="banner" style="background-image: url({{ post_img }})">
    <div class="max-width">
        <div class="banner-contents">
            <p class="today">{{post_name}}</p>
        </div>
    </div>
</div>
<div class="view">
    <div class="max-width">
        <section class="wrap-box">
            <div class="inner">
                <!-- author -->
                    <dl class="author-wrap">
                        <dt class="a11y-hidden">Author</dt>
                        {% if profile.image %}
                        <dd class="author"><img src="{{profile.image.url}}" alt="" /> {{post_name}}</dd>
                        {% else %}
                        <dd class="author"><img src="{% static 'assets/default.png'%}" alt="" /> {{post_name}}</dd>
                        {%endif%}
                        <dt class="a11y-hidden">Created</dt>
                        <dd class="created">{{post_created_at}}</dd>
                        <dd class="author">조회수 {{post_count}}</dd>
                    </dl>
                    <!-- //author -->
                    <dl class="category">
                        <dt class="a11y-hidden">Category</dt>
                    {% if tags %}
                            {% for tag in tags %}
                                <dd>{{tag.name}}
                            {% endfor %}
                    {% else %}
                    {% endif%}

                    {% comment %} <dd>Life</dd>
                    <dd>Style</dd> {% endcomment %}
                </dl>
                    <div class="title-wrap">
                        <h2>{{ post_title }}</h2>
                        <button class="btn-like">Like</button>
                    </div>
                    <hr />
                    <div class="view-contents">
                        <p>{{ post_content | safe }}</p>
                        <img src="{{ post_img }}">
                    </div>
                    {% if post_writer == request.user %}
                    <div class="btn-group">
                    <a href="{% url 'blog:edit' pk=post_id %}" class="btn-modify">
                        <span class="a11y-hidden">modify</span>
                    </a>
                    <form action =" {% url 'blog:delete' pk=post_id %}" method = "post">
                    
                        {% csrf_token %}
                        <button type ="submit" class="btn-delete">
								<span class="a11y-hidden">delete</span>
                    </button>
                    </form>
                </div>
                    {% endif %}
        {% comment %} <script>
            alert(".{{post_img}}")
        </script> {% endcomment %}

        <h3>리뷰</h3>
        {% if request.user.is_authenticated %}
        <form action = "{% url 'blog:rv-write' pk=post_id %}" method = "post">
            {% csrf_token %}
                {# 에러처리 #}
                {% if review_form.content.errors %}
                    {% with form=review_form%}
                        {% include 'blog/form_error.html' %}
                    {% endwith %}
                {% else %}
                {{ review_form.content }}
                {% endif %}
                <img src="{% static 'assets/icon-modify-white.svg' %}" alt="" />
                <input type ="submit" value ="WRITE" class="button"> 
            </form>
    {%endif%}
        {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li> {{review.content}} / {{review.created_at}}
                    {% if review.writer == request.user %}
                        <form action ="{% url 'blog:rv-delete' pk=review.pk %}" method = "post">
                    {% csrf_token %}
                        <input type = "submit" value ="X" class ="btn"> </input>
                    </form>
                    {% endif %}
                </li>
                
            {% endfor %}
        </ul>
    {% else %}
        <p>댓글이 없습니다.</p>
    {% endif %}
    <h3>Tag</h3>
    <form action="{% url 'blog:tag-write' pk=post_id %}" method = "post">
        {% csrf_token %}
        {% if tag_form.name.errors %}
            {% with form=tag_form%}
                {% include 'blog/form_error.html' %}
            {% endwith %}
        {% else %}
            {{ tag_form.name }}
        {% endif %}
        <input type ="submit" value ="WRITE" class="button"> 
    </form>
    <br>
    {% if tags %}
        <ul>
            {% for tag in tags %}
                <li>{{tag.name}}
                    {% if tag.writer == request.user %}
                        <form action ="{% url 'blog:tag-delete' pk=tag.pk %}" method = "post">
                            {% csrf_token %}
                            <input type = "submit" value ="X" class ="btn btn-success"> </input>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
    <p>X</p>
    {% endif%}
    {% endblock %}
</div>
</section>
</div>
</div>