{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="banner">
    <div class="max-width">
        <div class="banner-contents">
            <p class="sub-text">Health</p>
            <p class="main-text">My BLOG</p>
            <p class="description">
                If you want to get healthier, explore numerous gyms here!
            </p>
        </div>
    </div>
</div>
    <form action="{% url 'blog:edit' pk=post.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <img src="{% static 'assets/icon-modify-white.svg' %}" alt="" />
        <input type ="submit" value ="수정" class="button">
    </form>
{% endblock %}