{% extends "base.html" %}
{% block content %}
    <form action="{% url 'blog:write' %}" method="get">
        <input type ="hidden" name = "{{ reditect_field_name }}" value = "{{ request.GET.next }}">
        <input type ="submit" value ="글 작성">
    </form>
{% if posts %}
    <table class ="table table-bordered">
        <thead class="table-light">
            <tr>
                <td>제목</td>
                {% comment %} <td>내용</td> {% endcomment %}
                <td>작성자</td>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td><a href="{% url 'blog:detail' pk=post.pk %}" class= "btn">{{post.title}}</a></td>
                    <td>{{post.name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>게시글이 없습니다.</p>
    {% endif %}
{% endblock %}