{% extends "base.html" %}
{% load static %}
{% comment %} {% if request.user.is_authenticated %} {% endcomment %}
{% block content %}
<div class="banner">
    <div class="max-width">
        <div class="banner-contents">
            <p class="sub-text">Health</p>
            <p class="main-text">My BLOG</p>
            <p class="description">
                If you want to get healthier, explore numerous gyms here!
            </p>
        </div>
    </div>
</div>
<div class="max-width">
{% if request.user.business %}
<form action="{% url 'blog:write' %}" method="get" class="mt-5">
    <img src="{% static 'assets/icon-modify-white.svg' %}" alt="" />
    <input type ="submit" value ="WRITE" class="button">
</form>
{% endif %}
<main>
<form action="{% url 'blog:search'  tag='{{q}}'%}" method="get" class="mt-5">
    <div class="form-group">
        <select name="category" class="form-select form-select-lg">
            <option>카테고리 선택</option>
            <option value="address">주소</option>
            <option value="tag">태그</option>
            <option value="content">내용</option>
        </select>
        <input type="text" name="q" class="form-control form-control-lg" placeholder="검색어를 입력하세요">
    </div>
    <img src="{% static 'assets/icon-modify-white.svg' %}" alt="" />
    <button type="submit" class="button" style="margin:10px 0 30px 0">검색</button>
</form> 
</div>
<div class="max-width">
    <h2 class="a11y-hidden">Post</h2>
    <ul class="posts">
        {% if posts %}
            {% for post in posts %}
            {% with profile=post.writer.profile %}
                <li>
                {% comment %} {% if request.user.fulladdress == post.address%} {% endcomment %}
                    <a href="{% url 'blog:detail' pk=post.pk %}" class= "
                    post">
                        <article>
                    <img src="{{post.image.url}}" alt="">
                    <div class="contents-wrap">
                        <dl class="category">
                            <dt class="a11y-hidden">Category</dt>
                            {% if post.tags.all %}
                            {% for tag in post.tags.all %}
                                <dd>{{tag.name}}
                            {% endfor %}
                    {% else %}
                    {% endif%}
                        </dl>
                        <h3>{{post.title}}</h3>
                        <dl class="author-wrap">
                            <dt class="a11y-hidden">Author</dt>
                            {% if profile.image %}
                            <dd class="author"><img src="{{profile.image.url}}" alt="" /> {{post.name}}</dd>
                            {% else %}
                            <dd class="author"><img src="{% static 'assets/profile.jpg' %}" alt="" /> Chilli</dd>
                            {% endif %}
                            <dt class="a11y-hidden">Created</dt>
                            <dd class="created">{{post.created_at}}</dd>
                        </dl>
                        <p class="post-description" >
                            {{post.content | safe}}
                        </p>
                    </div>
                    {% comment %} {% endif %} {% endcomment %}
                </article>
                </a>
                </li>
                {% endwith %}
            {% endfor %}
        {% else %}
            <p>게시글이 없습니다.</p>
    {% endif %}
        {% comment %} {% else %}
            <p>로그인 후에 게시글을 볼 수 있습니다.</p>
{% endif %} {% endcomment %}
    </ul>
</div>
</main>
<script>
    // JavaScript 코드
    // content에 이미지 보이는거 지워줌
    document.addEventListener('DOMContentLoaded', function () {
        let postDescription = document.querySelectorAll('p img');

        for (let img of postDescription) {
            img.style.display = 'none';
        }
    });
</script>
{% endblock %}