{% extends "base.html" %}

{% load static %}
{% block content %}
    <a href="{% url 'blog:list' %}">
        <div class="banner">
            <div class="max-width">
                <div class="banner-contents">
                    <p class="sub-text">Health</p>
                    <p class="main-text">Click</p>
                    <p class="description">
                        Welcome!
                    </p>
                </div>
            </div>
        </div>
    </a>
        {% endblock %}

