{% extends "detailbase.html" %}
{% comment %} {% for i in user_profile %}
    {{i}}
{%endfor%} {% endcomment %}

{% load static %}

{% block content %}
        <div class="login-box">
            <form action="{% url 'user:edit' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Profile Modify</h2>
            <div class="user-box profile-image-box">
                <div class="preview-image-container">
                    {% if request.user.profile.image %}
                    <img class="preview-image" src="{{ profile_img }}" alt="프로필 이미지" style ="width: 100px; height: 100px; border-radius: 50%;">
                    {% else %}
                    <img class="default-image" src="{% static 'assets/default.png' %}" alt="기본 이미지">
                    {% endif %}
                </div>
            </div>
                <div class="user-box">userid
                    {{ form.username }}
                <div class="user-box">nickname
                    {{ form.name }}
                    {% comment %} <label for="{{ form.name.id_for_label }}">nickname</label> {% endcomment %}
                </div>
                
                <div class="user-box">business
                    {% comment %} <label for="{{ form.business.id_for_label }}">사업자</label> {% endcomment %}
                    {{ form.business }}
                </div>
                <div class="user-box" style="margin-bottom: 10px">주소
                    {{ form.address }}
                    {% comment %} <label for="{{ form.address.id_for_label }}">주소</label> {% endcomment %}
                </div>
                <div class="user-box">시/군/구
                    {{ form.city }}
                    {% comment %} <label for="{{ form.city.id_for_label }}">시/군/구</label> {% endcomment %}
                </div>
                <div class="user-box">면/읍/동
                    {{ form.town }}
                    {% comment %} <label for="{{ form.town.id_for_label }}">면/읍/동</label> {% endcomment %}
                </div>
            </form>
        </div>


        <script>
            // JavaScript 코드
            document.addEventListener('DOMContentLoaded', function () {
                let loginBox = document.querySelector('.login-box');
                let fields = loginBox.querySelectorAll('input, select');
        
                for (let field of fields) {
                    field.disabled = true;
                }
            });
        </script>
{% endblock  %}